[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
got-fleas = {editable = true,path = "."}

[packages]
beautifulsoup4 = "*"
requests = "*"
ptable = "*"

[requires]
python_version = "3.7"
